In [2]:
import pandas as pd

In [53]:
!ls
file = 'all-files.csv'

EDA.ipynb
README.md
all-files.csv
up-to-week36.csv

In [54]:
df = pd.read_csv(file)
df = df.fillna('')

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51476 entries, 0 to 51475
Data columns (total 6 columns):
Name             51476 non-null object
Price            51476 non-null float64
PreviousPrice    51476 non-null object
Offer            51476 non-null object
Retailer         51476 non-null object
DateScraped      51476 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 2.4+ MB

In [65]:
df['DateScraped'] = df['DateScraped'].astype('str')

In [69]:
df['DateScraped'] = df['DateScraped'].map(convert_to_date_object)

In [70]:
df['DateScraped'].value_counts()

2019-09-02    2177
2019-05-27    2141
2019-09-01    2095
2019-07-29    2088
2019-05-13    2079
2019-01-27    2072
2019-08-18    2063
2019-05-21    2051
2019-03-03    2046
2019-06-11    2037
2019-03-12    2021
2019-03-26    2014
2019-06-20    2002
2019-06-27    1990
2019-08-09    1982
2019-07-07    1979
2019-02-08    1978
2019-07-17    1968
2019-04-28    1932
2018-12-19    1931
2019-01-11    1892
2019-07-22    1845
2019-02-19    1843
2019-09-13    1553
2019-09-18    1544
2019-05-10    1505
2019-09-17     648
Name: DateScraped, dtype: int64

In [68]:
yellow_spot = df[ df['Name'] == 'Yellow Spot Whiskey 70Cl'  ]

In [29]:
yellow_spot [yellow_spot['Price'] == yellow_spot['Price'].min() ]

,Name,Price,PreviousPrice,Offer,Retailer,DateScraped
39312,Yellow Spot Whiskey 70Cl,65.0,79.95,,OBriens,20190326

In [58]:
from datetime import datetime

def convert_to_date_object(date_to_format):
    date_object = datetime.strptime(date_to_format, "%Y%m%d")
    if date_object:
        return date_object

In [62]:
yellow_spot['DateScraped'].map(convert_to_date_object)

TypeError: strptime() argument 1 must be str, not int